/* add custom styles */
nav {
  width: 100%;
}

.post {
  background-color: #F0F0F0;
  border-radius: 3px;
  margin-left: -0.2em;
  padding-right: 3em;
  padding-top: 1em;
  padding-bottom: 1em;
  margin-bottom: 2em;
}

.space {
  padding-right: .3em;
}

.author {
  margin-top: -1em;
  margin-bottom: 1em;
}

i {
  padding-left: 0.3em;
  padding-right: 0.3em;
}

h6 {
  display: inline-block;
}

.navbar-right li {
  margin-left: -1.5em;
}

.span {
  margin-left: -1em;
}

.sort {
  margin-right: -0.5em;
  margin-top: 1.2em;
  padding-right: 1.5em;
  font-weight: bold;
  font-size: 1em;
}

img {
  margin-top: 1em;
}
